In [52]:
import random
numberList = ["Abhipsha","Kapilan","Souvik","Swasti","Ashutosh Sai","Raghu Raj","Adhiraj","Rohit","Tamizh","Ashutosh K","Nishkarsh"]
a=[]
x=y=0
for i in range(4):
    x=y=0
    while(x==y):
        x=random.choice(numberList)
        y=random.choice(numberList)
    a.append(x)
    a.append(y)
print(a)

['Kapilan', 'Rohit', 'Kapilan', 'Swasti', 'Nishkarsh', 'Ashutosh Sai', 'Ashutosh Sai', 'Tamizh']

In [26]:
import pandas as pd 

df = pd.DataFrame(list(zip(a, b)),columns =['Name', 'Date']) 
df

        Name        Date
0     Swasti  2020-02-18
1  Raghu Raj  2020-02-21

In [25]:
import datetime
def next_weekday(d, weekday):
    days_ahead = weekday-d.weekday()
    if days_ahead <= 0: 
        days_ahead += 7
    return d + datetime.timedelta(days_ahead)
from datetime import date
today = date.today()
d = datetime.date(today.year, today.month, today.day)
next_tuesday = next_weekday(d,1)
b=[]
b.append(next_tuesday)
next_friday = next_weekday(d,4)
b.append(next_friday)

In [50]:
import pandas as pd 

df = pd.DataFrame(list(zip(a, b)),columns =['Name', 'Date']) 
df

       Name        Date
0     Rohit  04/02/2020
1    Swasti  07/02/2020
2     Rohit  11/02/2020
3   Kapilan  14/02/2020
4    Souvik  18/02/2020
5   Adhiraj  21/02/2020
6   Kapilan  25/02/2020
7  Abhipsha  28/02/2020

In [51]:
export_csv = df.to_csv (r'C:\Users\ITTOSHURA\Desktop\Tamizh\Novo\export_dataframe.csv', index = None, header=True)

In [49]:
import calendar

c = calendar.Calendar(firstweekday=calendar.SUNDAY)

year = 2020; 
month = int(input("Input Month:\n"))
b=[]
monthcal = c.monthdatescalendar(year,month)
for i in range(4):
    friday = [day for week in monthcal for day in week if \
                day.weekday() == calendar.FRIDAY and \
                day.month == month][i]
    friday=str(friday)
    friday=friday.split("-")
    friday="/".join(friday[::-1])
    b.append(friday)
    tuesday = [day for week in monthcal for day in week if \
                day.weekday() == calendar.TUESDAY and \
                day.month == month][i]
    tuesday=str(tuesday)
    tuesday=tuesday.split("-")
    tuesday="/".join(tuesday[::-1])
    b.append(tuesday)

    
b.sort()
print(b)

Input Month:
2
['04/02/2020', '07/02/2020', '11/02/2020', '14/02/2020', '18/02/2020', '21/02/2020', '25/02/2020', '28/02/2020']